header {
    position: sticky;
    z-index: 2;
    top: 0px;
    display: flex;
    justify-content: space-between;
    background: black;
}

nav {
    display: flex;
    justify-content: space-around;

    .nav__link {
        margin: 1rem;
        padding: 1rem;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        border-bottom: 3px solid transparent;
        &:hover {
            border-bottom: 3px solid rgb(0, 230, 204);
        }
    }

    
}