<div class="effect varrius">
    <div class="buttons">
        <a href="https://www.linkedin.com/in/madhusuthanan-b-905736101/" target="_blank" rel=”noreferrer” class="in"
            title="Connect with me on Linked In"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://github.com/Madhusuthanan-B" target="_blank" rel=”noreferrer” class="git-hub" title="See my profile in Git"><i
                class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://twitter.com/madhuddeveloper" target="_blank" rel=”noreferrer” class="tw" title="Follow me on Twitter"><i class="fa fa-twitter"
                aria-hidden="true"></i></a>
    </div>
</div>