@import '_mixins';
@import '_variables';

.about_wrapper {
    display: flex;
    height: 100%;
    ;

    .image_area {
        max-width: 50%;
        text-align: center;
        padding: 20px;

        img {
            height: 10rem;
            width: 10rem;
            border-radius: 50%;
        }
    }

    .skill_area {
        width: 100%;
        padding: 20px;

        .skills {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

@include for-phone-only {
    .about_wrapper {
        flex-wrap: wrap;

        .image_area {
            max-width: 100%;
        }
    }
}

h3 {
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $primary;
    margin: 1em 3em;
    padding: 0;
}