@import '_mixins';

.about_head {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    img {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #19F2A1;
    margin: 1em 3em;
    padding: 0;
}

.about_body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1em 3em;

    p {
        margin: 1em 2em;
        text-align: center;
    }

    h3 {
        text-align: center;
        color: #19F2A1;
    }

    .skills {
        display: flex;
        justify-content: space-evenly;

        ul {
            display: flex;
            flex-wrap: wrap;
        }

        li {
            padding: 1rem;
            list-style: none;
            min-width: 200px;
            max-width: 200px;
        }
    }
}

@include for-phone-only {
    .about_body {
        flex-direction: column;

        .about_me {
            max-width: 100%;
        }

        .skills {
            li {
                min-width: 100px;
                max-width: 100px;
            }
        }
    }
}