<div [@bounceIn]="bounceIn">
    <section class="about_head">
        <img src="../../assets/Madhu.jpeg">
        <h2>Madhusuthanan B</h2>
        <app-social-media></app-social-media>
        <p>I'm a passionate developer.</p>
    </section>
    <hr />
    <section class="about_body">
        <section>
            <h3>About Me</h3>
            <p>
                Hi, I'm Madhu! I work as a Development Engineer in Kongsberg Digital with good knowledge of front end
                Technologies. I love writing testable code, TDD and pair programming. I will be sharing some interesting
                topics related to programming which I have learnt / learning in my upcoming blogs.
            </p>
        </section>

        <section>
            <h3>Skills</h3>
            <div class="skills">
                <ul>
                    <li>Angular 2+ <app-rating [value]="4"></app-rating>
                    </li>
                    <li>TypeScript <app-rating [value]="4"></app-rating>
                    </li>
                    <li>JavaScript <app-rating [value]="4"></app-rating>
                    </li>
                    <li>Css / Sass <app-rating [value]="3"></app-rating>
                    </li>
                    <li>Html 5 <app-rating [value]="4"></app-rating>
                    </li>
                    <li>Bootstrap <app-rating [value]="3"></app-rating>
                    </li>
                    <li>.Net Core <app-rating [value]="3"></app-rating>
                    </li>
                    <li>C#<app-rating [value]="3"></app-rating>
                    </li>
                    <li>Unit Testing <app-rating [value]="4"></app-rating>
                    </li>
                    <li>TDD <app-rating [value]="4"></app-rating>
                    </li>
                </ul>
            </div>
            <h3>Experience With</h3>
            <div class="skills">
                <ul>
                    <li>D3 (limited)</li>
                    <li>Gulp</li>
                    <li>Node JS (limited)</li>
                    <li>JQuery</li>
                    <li>Asp.Net WebApi</li>
                    <li>MongoDB (limited)</li>
                    <li>Azure PaaS (limited)</li>
                    <li>Golang (limited)</li>
                </ul>
            </div>
        </section>
    </section>
</div>