<section class="about_wrapper">
    <section class="image_area">
        <img src="../../assets/Madhu.jpeg" alt="Profile picture of Foo Tech Blog author">
        <h2>Madhusuthanan B</h2>
        <app-social-media></app-social-media>
        <h3>About Me</h3>
        <hr />
        <section>
           
            <p>
                Hi, I'm Madhu! I work as a Development Engineer in Kongsberg Digital with good knowledge of front end
                Technologies. I love writing testable code, TDD and pair programming. I will be sharing some interesting
                topics related to programming which I have learnt / learning in my upcoming blogs.
            </p>
        </section>
    </section>
    <section class="skill_area">
        <section>
            <h3>Skills</h3>
            <div class="skills">
                <ng-container *ngFor="let settings of skills">
                    <app-radial-progress [props]="settings"></app-radial-progress>
                </ng-container>
            </div>
        </section>
    </section>
</section>