<section class="about_head">
    <img src="../../assets/Madhu.jpeg">
    <h2>Madhusuthanan B</h2>
    <app-social-media></app-social-media>
    <p>I'm a passionate front-end developer.</p>
</section>
<hr />
<section class="about_body">
    <section>
        <h3>About Me</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta repudiandae illo harum incidunt ullam dolores
            commodi vel ipsa. Maxime repellat eius reiciendis quaerat nostrum incidunt velit, neque dolor minus error?
            Repellat cumque molestiae, iste laudantium numquam qui laborum alias. Consectetur et sequi maiores incidunt
            dolores, neque molestiae modi quos doloribus ipsum nulla molestias asperiores. Possimus consequuntur vitae
            ducimus eligendi eveniet.
            Eius tenetur quis molestiae obcaecati a aliquam magnam perferendis quos libero tempore ex autem ipsam
            doloremque architecto optio itaque, accusantium quas! Consequuntur repellat placeat voluptatibus excepturi
            vel. Corporis, deserunt odit!</p>
    </section>
</section>