

<section class="blogs">
    <article class="blog">
        <a
            href="https://medium.com/@madhub081011/passing-configuration-dynamically-from-one-module-to-another-module-using-modulewithproviders-d680f834b969">
            <section class="blog-title">
                <h3>
                    How to pass configuration dynamically into a module?
                </h3>
            </section>
            <p>Demonstrating how to use ModuleWithProviders in Angular with an example of a use case.</p>
        </a>
    </article>

    <article class="blog">
        <a
            href="https://medium.com/@madhub081011/how-to-make-sure-that-the-parameter-of-a-typescript-function-has-a-specific-property-using-14ef2182c00b">
            <section class="blog-title">
                <h3>
                    TypeScript Generic Constraints - Use case
                </h3>
            </section>
            <p>How to make sure that the parameter of a typescript function has a specific property using TypeScript Generic Constraints?</p>
        </a>
    </article>

</section>