@import '_mixins';
@import '_variables';

.blogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.banner {
    @include banner(#8C4AF5, #19F2A1);
    margin: 2rem;

    a {
        color: #ffff;
        text-decoration: none;
    }
}