<section class="header-wrapper">
    <header>
        <h2>Blogs</h2>
        <p>
            <q>What you know is as big as the size of sand in your palm, what you do not know is as big as the size of
                the
                universe</q>
        </p>

    </header>
</section>

<section class="blogs">
    <article class="blog">
        <a
            href="https://medium.com/@madhub081011/passing-configuration-dynamically-from-one-module-to-another-module-using-modulewithproviders-d680f834b969">
            <section class="blog-title">
                <h3>
                    How to pass configuration dynamically into a module?
                </h3>
            </section>
            <p>Demonstrating how to use ModuleWithProviders in Angular with an example of a use case.</p>
            <section class="tags">
                <img class="topic-logo" src="assets/svg/angular.svg" alt="angular logo" title="Angular">
                <img class="topic-logo" src="assets/svg/medium.svg" alt="medium logo" title="Published in medium">
                <img class="topic-logo" src="assets/svg/value.svg" alt="Foo logo" title="By Author of Foo">
            </section>
        </a>
    </article>

    <article class="blog">
        <a href="https://netbasal.com/getting-to-know-the-partial-type-in-typescript-ecfcfbc87cb6">
            <section class="blog-title">
                <h3>
                    Getting To Know The Partial Type in TypeScript
                </h3>
            </section>
            <p>Understanding the usage of Partial Type in TypeScript.</p>
        </a>
    </article>

    <article class="blog">
        <a href="https://medium.com/swlh/prerender-angular-application-be-seo-ae1183c621cb">
            <section class="blog-title">
                <h3>
                    Prerender Angular application — be SEO
                </h3>
            </section>
            <p>Prerender your application with @ng-toolkit/universal, and make it readable for search engine robots.</p>
        </a>
    </article>

</section>