<section [@bounceIn]="bounceIn" class="blogs">
    <section class="banner">
        <h2>
            <a href="https://medium.com/@madhub081011/passing-configuration-dynamically-from-one-module-to-another-module-using-modulewithproviders-d680f834b969"
                target="_blank">
                Passing configuration dynamically from one module to another module using ModuleWithProviders (Angular
                2+)
            </a>
        </h2>
        <p>Demonstrating how to use ModuleWithProviders in Angular with an example of a use case.</p>
    </section>
</section>