<section class="layout">
  <app-header></app-header>

  <section class="content">
    <section class="banner header_container">
      <section class="header_left">
        <h2>Start looking at FOO</h2>
        <p>FOO TECH FORUM helps you to find and contribute tech solutions.</p>
      </section>
      <section class="header_right"></section>
    </section>

    <section class="banner banner_1">
      <h2>Wait for it!</h2>
    </section>

    <section>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio architecto cupiditate officia tenetur voluptatibus
        modi atque saepe laborum perferendis nostrum explicabo, temporibus debitis tempora quas deserunt quae cumque
        aliquid sequi?
        Similique eveniet adipisci placeat, porro doloribus repudiandae molestias voluptatibus dolorem culpa sunt officiis
        suscipit, facere, reprehenderit quia et! Modi magni dolores qui laborum libero consequuntur? Nostrum nobis esse id
        dolore.
        Placeat modi totam, accusamus harum ipsam laboriosam exercitationem consectetur commodi dolor repellat, rem
        adipisci. Velit, nesciunt tenetur, nemo excepturi obcaecati necessitatibus fugit laudantium deserunt sit eligendi
        aut veniam expedita perspiciatis!
        Iure recusandae dignissimos, quisquam minima, delectus doloremque animi mollitia in, exercitationem veniam dolores
        minus ratione error nesciunt! Iusto vel, distinctio, inventore unde, facilis aliquid dignissimos velit alias
        accusamus cum veniam!</p>
  
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum facere suscipit praesentium recusandae nihil minus
        dolorum esse, ipsum mollitia. Aut assumenda laborum suscipit praesentium ab. Magnam sapiente eius quisquam
        asperiores!
        Voluptatibus accusamus repellat totam distinctio eos esse dolor, repudiandae porro laborum nisi provident at. Illo
        omnis ratione perspiciatis quos cupiditate nisi voluptates fugiat reprehenderit temporibus, exercitationem,
        commodi quae officiis nemo.
        Numquam natus, repellat voluptatum, officia, alias dolore sit cumque molestiae harum magnam sint culpa laborum
        voluptatibus id! Ut magnam aliquam totam facilis eveniet quos, illum obcaecati qui numquam architecto! Incidunt?
      </p>
    </section>

    <section class="banner banner_2">
      <h2>We are coming soon!</h2>
    </section>

  </section>
</section>