<div class="rating">
    <ng-container *ngFor="let count of starCount; let i = index">
        <i *ngIf="count < value;else emptyStar" class="fa fa-star"></i>
        <ng-template #emptyStar>
            <i class="fa fa-star-o"></i>
        </ng-template>

    </ng-container>
    <!-- <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-o"></i>
    <i class="fa fa-star-half-o" aria-hidden="true"></i> -->
</div>