/* You can add global styles to this file, and also import other style files */
@import '_mixins';
@import '_variables';

body {
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    font: 1.125rem 'Quicksand', sans-serif;
    background: $base-bg;
    color: $base-font;
}

body::-webkit-scrollbar {
    width: 30px;
    height: 30px;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, $secondary-menu, $base-menu);
}

body::-webkit-scrollbar {
    width: 0.12rem;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: $base-menu;
    outline: 1px solid $secondary-menu;
}