@import '_mixins';
@import '_variables';

section {
    margin: 1rem 0;
}

.neon {
    padding: 1rem;
    font-size: 16px;
    border: 1px solid;
    border-color: black;
    margin: 1rem;
    background: black;

    .gradient-text {
        background: linear-gradient(to right, #3191ff, #00e6cc);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        margin: 2px 0;
    }

    &:hover {
        cursor: pointer;
        color: lighten($color: #19F2A1, $amount: 20%);

        .gradient-text {
                background: linear-gradient(to right, #00e6cc, #3191ff);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
        }
    }
}

.header_container {
    background-image: url("../../assets/gif/dark_motion.gif");
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 0;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem 6rem 3rem;

    .header_left {
        display: flex;
        align-items: center;
        flex-direction: column;

        p {
            color: lightgray;
            margin: 0;
        }
    }
}

.banner {
    @include banner(#8C4AF5, #19F2A1);

}

@include for-desktop-up {
    .banner {
        padding: 3rem;
    }
}